
.settings-list-text {
  max-width: 70%;
}
.saved-warmup-list-item {
  color: var(--ion-color-tertiary-shade);
}
.delete-button {
  margin-top: 12px;
}
.history-name {
  color: var(--ion-color-secondary);
}
