<ion-content>
  <section class="ion-padding ion-text-center">
    <header>Target Weight</header>
    <app-target-weight></app-target-weight>
  </section>

  <section
    *ngIf="(statusService.status | async).progress === 'inactive'"
    class="ion-padding"
  >
    <header>Warmup Options</header>
    <ion-item>
      <ion-label color="tertiary">Excerise Name</ion-label>
      <ion-input
        color="secondary"
        class="ion-text-right"
        [value]="(statusService.status | async).name"
        (ionChange)="statusService.setName($event.detail.value)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">Warmup Template</ion-label>
      <ion-select
        placeholder="Select Template"
        [value]="(statusService.status | async).warmupTemplate"
        (ionChange)="statusService.setTemplate($event.detail.value)"
      >
        <ion-select-option
          *ngFor="let template of (warmupService.warmupTemplates | async); trackBy:identify"
          [value]="template"
          >
          {{ template.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">Exercise Set</ion-label>
      <ion-select
        placeholder="Select Set"
        [value]="(statusService.status | async).exerciseSet"
        (ionChange)="statusService.setExerciseSet($event.detail.value)"
      >
        <ion-select-option
          *ngFor="let set of (exerciseSetService.exerciseSets | async); trackBy:identify"
          [value]="set"
          >
          {{ set.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item-divider color="dark-tint"></ion-item-divider>
    <ion-button
      expand="block"
      (click)="statusService.createWarmupSets()"
    >Start</ion-button>
  </section>

  <section
    *ngIf="(statusService.status | async).progress === 'active'"
    class="ion-padding"
  >
    <div class="active-title">
      Bench Press
    </div>
    <div class="active-title">
      {{ (statusService.status | async).warmupTemplate.name }} - {{ (statusService.status | async).exerciseSet.name }}
    </div>
    <div class="timer">{{ timerTime() }}</div>
    <app-active-set
      *ngFor="let set of (statusService.status | async).sets"
      [unit]="(statusService.status | async).targetUnit"
      [set]="set"
      [start]="start"
    >
    </app-active-set>
    <ion-button
      expand="block"
      (click)="statusService.finishWarmup()"
    >Finish</ion-button>
  </section>
</ion-content>
