:root {
  --ion-color-primary: #E55934;
  --ion-color-primary-rgb: 229,89,52;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #ca4e2e;
  --ion-color-primary-tint: #e86a48;
  --ion-color-primary-light: rgb(223, 132, 107);

  --ion-color-secondary: #FA7921;
  --ion-color-secondary-rgb: 250,121,33;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #dc6a1d;
  --ion-color-secondary-tint: #fb8637;

  --ion-color-tertiary: #5BC0EB;
  --ion-color-tertiary-rgb: 91,192,235;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #50a9cf;
  --ion-color-tertiary-tint: #6bc6ed;

  --ion-color-success: #9BC53D;
  --ion-color-success-rgb: 155,197,61;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #88ad36;
  --ion-color-success-tint: #a5cb50;

  --ion-color-warning: #FDE74C;
  --ion-color-warning-rgb: 253,231,76;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dfcb43;
  --ion-color-warning-tint: #fde95e;

  --ion-color-danger: #C43C3C;
  --ion-color-danger-rgb: 196,60,60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ac3535;
  --ion-color-danger-tint: #ca5050;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #EBEBD3;
  --ion-color-light-rgb: 235,235,211;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cfcfba;
  --ion-color-light-tint: #ededd7;
}
